#imglayout {
    position: relative;
    background: url(image.url);
    width: /**image width*/;
    height: /**image height*/;
}

#innerHover {
    position: absolute;
    top: /**distance from top of image */;
    left: /**distance from left of image */;
    width: /**region width*/;
    height: /**region height*/;
}
#popupdiv{
    //style however you like
}
#innerHover #popupdiv{
   display:none;
}
#innerHover:hover #popupdiv{
    display:block;
}