#imglayout {
    position: relative;
    background-image:url(../images/layout1.jpg);
	background-size: contain;
    width: 450px;
    height: 350px;
}

#innerHover {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 120px;
    height: 30px;
	background-color: #036;
}
#popupdiv{
    //style however you like
	font-size: 36px;
}
#innerHover #popupdiv{
   display:none;
}
#innerHover:hover #popupdiv{
    display:block;
}