				#banner
				{
				background-image:url(../images/IMG_4030.jpg);
				}
				
				input[type=text]
				{
 				border: 1px dotted #999;
 				border-radius: 0;
  				width: 200px;
				margin-bottom: 20px;
				padding: 5px;
				}
				
				input[type=email]
				{
 				border: 1px dotted #999;
 				border-radius: 0;
  				width: 200px;
				margin-bottom: 20px;
				padding: 5px;
				}
				
				textarea
				{
				width: 50%;
				height: 200px;
				border: 1px dotted #999;
 				border-radius: 0;
				padding: 5px;
				}
				
				#subject
				{width: 50%;
				}
				
				#form1
				{
				line-height: 60px;
				}
				
				#contactinfo
				{
				padding-top: 2%;
				padding-bottom: 2%;
				}
				
				#message
				{
				background-color: rgba(255,0,0,0.6);
				float: right;
				margin-top: 40px;
				margin-right: 40px;
				}