	
			#banner
			{
			height: auto;
			}
			
			#news
				{padding:20px;
				width: 70%;
				float:left;
				padding-top: 3%;
				text-align: justify;
				}
				
			.newsphoto
				{
				height: 200px;
				float: left;
				margin-right: 20px;
				}
				
			.newscontent
				{
				border-top-style: solid;
				border-top-width: 1px;
				border-top-color: #ccc;
				padding: 25px;
				overflow: hidden;
				}
				
			#events
				{
				float: right;
				width: 20%;
				margin-top: 3%;
				}
				
				#googlecalendar
				{
				width: 100%;
				height: 320px;
				border-style: dotted;
				border-width: 1px;
				border-color: #ccc;
				padding: 10px;
				}
				
				#message
				{
				background-color: rgba(255,0,0,0.7);
				z-index: 3000;
				width: auto;
				padding-top: 3px;
				
				}
				
				#messagehead
				{
			color: #fff;
	font-family: din_light;
	font-weight: 200;
	font-size: 1.5em;
	padding: 2px;
	display: block;
	text-align: center;
				}
			
				.newsimagewrapper
				{
				float: left;
				
				}
				
				.contentwrapper
				{
				padding: 0;
				}
				
				.newsimage
				{
				padding: 3px;
				display: block;
    			max-width:300px;
    			max-height:300px;
    			width: auto;
    			height: auto;
				margin-right: 25px;
				}
			 
				h3
				{
				padding: 0;
				margin: 0;
				}
				
				p
				{
				padding:0;
				padding-top:5px;
				margin:0;
				}
				
				.subpagecontent
				{
				padding-left: 5%;
				}
			