	body
			{
			padding:0;
			margin: 0;
			}
			
			
			
			.pagelabel
			{
			float: right;
			font-family: Helvetica;
			padding-top: 200px;
			padding-right: 40px;
			padding-bottom: 10px;
			padding-left: 10px;
			right: 0;
			font-weight: 200;
			font-size: 24px;
			color: #FFFFFF;
			border-bottom-style:solid;
			border-bottom-width: 1px;
			border-bottom-color: #FFFFFF;
			}
			
			#socialmedia
			{
			background-color: #FFFFFF;
			margin:0;
			padding:0;
			}
			
			
			#socialmedia > li
			{
			display: inline;
			list-style-type: none;
			padding-right: 10px;
			}
			
			.social
			{
			height: 40px;
			padding: 0;
			}
			
			h2
			{
			font-family: Helvetica;
			font-size: 24px;
			}
			
			.parentlinks a
			{
			text-decoration: none;
			color: #800080;
			}
			
			.childlinks a:hover
			{
			text-decoration: none;
			color: #CCC;
			}
			
			.parent a
			{
			text-decoration: none;
			color: #800080;
			}
			
			.child a
			{
			text-decoration: none;
			color: #484848;
			}
			
			.child a:hover
			{
			text-decoration: none;
			color: #CCC;
			}
			
			@font-face 
			{
			font-family: din_light;
			src:url(../fonts/din_light.otf);
			}
			
				@font-face 
			{
			font-family: din_bold;
			src:url(../fonts/din_bold.otf);
			}
			
			@font-face 
			{
			font-family: din_medium;
			src:url(../fonts/din_medium.otf);
			}
			
			#logo
			{
			color:#FFFFFF;
			height: 50px;
			padding: 0;
			margin-left: 5%;
			
			}
		
			#bar
			{
			font-family: din_medium;
			padding: 10px;
			background-color: #FFFFFF;
			float: left;
			}
			
			.parentlinks
			{
			white-space: nowrap;
			}
			
			.parentlinks > li
				{
				display: inline-block;
				padding-left: 3%;
				padding-right: 3%;
				border-right: dotted;
				border-right-color: #CCC;
				border-right-width: 1px;
				vertical-align: middle;
				}
				
			
				.parentlinks > li:nth-child(6)
				{
				display: inline-block;
				border:none;
				padding-right: 0px;
				margin-right: 0;
				}
				
				.parentlinks > li:nth-child(1)
				{
				display: inline-block;
				border:none;
				padding-right: 13%;
				margin-right: 0;
				}
				
			.parentlinks
				{
				display: inline-block;
   				list-style-type: none;
				width: 100%;
				margin: 0;
				padding: 0;
				text-align: left;
				}
				
			.childlinks
				{
				visibility:hidden;
				position: absolute;
				padding: 15px 15px 5px 15px;
				margin-left: -15px;
				opacity:0;
				font-family: din_light;
 				transition:opacity 0.35s linear;
				text-align: left;
				}
				
			.parentlinks li:hover .childlinks
				{
				visibility:visible;
				text-decoration: none;
				list-style-type: none;
				background-color: #FFFFFF;
				opacity: 1;
				z-index: 3000;
				}
				
			.parent > li
				{
				display: inline-block;
				float: left;
				font-family: din_medium;
				width: 16%;
				}
				
				.parent > li:nth-child(6)
				{
				display: inline-block;
				float: right;
				}
				
			.parent
				{
				margin: 0;
				padding: 0;
				padding-top: 10px;
				list-style-type:none;
				padding-left: 10%;
				padding-right: 10%;
				border-top-style: solid;
				border-top-width: 1px;
				border-top-color: #CCC;
				}
				
			.child
				{
				margin:0;
				padding:0;
				}
				
			.child > li
				{
				display: block;
				font-family: din_light;
				font-size: 12px;
				}
				
			#bottombar
				{
				margin-bottom: 100px;
				margin-top: 100px;
				}
	
				.subpagecontent
				{
				padding-left: 10%;
				padding-right: 5%;
				font-family: Georgia;
				color: #484848;
				overflow: hidden;
				}
				
				.content
				{padding-left: 3%;
				padding-right: 3%;
				}
				
					
				.divwrapper
				{
			
				}
				
				
			 	.clear
				{clear:both;
				}
				
				h3
				{
				font-family: Helvetica;
				font-size: 20px;
				color:#999;
				}
				
				#dropdown
				{
				padding: 15px;
				background-color: #FFFFFF;
				font-family: din_medium;
				}
				
				#mobilelogo
				{
				display: none;
				}
				
				#messagehead
				{
				font-family: Helvetica;
				font-size: 36px;
				color: #FFFFFF;
				border-bottom-style: solid;
				border-bottom-color: #FFFFFF;
				border-bottom-width: 1px;
				padding: 5px;
				font-weight: 200;
				}
				
				#messagecontent
				{
				font-family: Georgia;
				font-size: 18px;
				color: #FFFFFF;
				padding-left: 5px;
				padding-right: 5px;
				margin-top: 5px;
				}
				
				#messagecontent a
				{
				color: #FF0;
				}
				
				#message
				{
				color: #FFFFFF;
				padding: 10px;
				width: 30%;
				}
				
			#banner
			{
			background-size: cover;
			width: 100%;
			height: 550px;
			overflow: hidden;
			}
			
			#backtotop
			{
			display: none;
			}
			
			#socialmediamobile
			{
			display: none;
			}