/*header stuff mostly*/
#dropdown
	{
		padding: 15px;
		background-color: #FFFFFF;
		font-family: din_medium;
	}

#logo
	{
		color:#FFFFFF;
		height: 50px;
		padding: 0;
		margin-left: 5%;
	}

#mobilelogo
	{
		display: none;
	}

.parentlinks
	{
		white-space: nowrap;
		display: inline-block;
		list-style-type: none;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
	}

.parentlinks a
	{
		text-decoration: none;
		color: #800080;
	}

.parentlinks > li
	{
		display: inline-block;
		padding-left: 3%;
		padding-right: 3%;
		border-right: dotted;
		border-right-color: #CCC;
		border-right-width: 1px;
		vertical-align: middle;
	}

.parentlinks > li:nth-child(1)
	{
		display: inline-block;
		border:none;
		padding-right: 13%;
		margin-right: 0;
	}

.parentlinks > li:nth-child(6)
	{
		display: inline-block;
		border:none;
		padding-right: 0px;
		margin-right: 0;
	}


/*footer stuff mostly*/
#socialmedia
	{
		background-color: #FFFFFF;
		margin:0;
		padding:0;
	}

#socialmedia > li
	{
		display: inline;
		list-style-type: none;
		padding-right: 10px;
	}

#bottombar
	{
		margin-bottom: 100px;
		margin-top: 100px;
	}

#backtotop
	{
		display: none;
	}

#socialmediamobile
	{
		display: none;
	}

.social
	{
		height: 40px;
		padding: 0;
	}

.parent
	{
		margin: 0;
		padding: 0;
		padding-top: 10px;
		list-style-type:none;
		padding-left: 10%;
		padding-right: 10%;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #CCC;
	}

.parent a
	{
		text-decoration: none;
		color: #800080;
	}

.parent > li
	{
		display: inline-block;
		float: left;
		font-family: din_medium;
		width: 16%;
	}

.parent > li:nth-child(6)
	{
		display: inline-block;
		float: right;
	}

.child
	{
		margin:0;
		padding:0;
	}

.child > li
	{
		display: block;
		font-family: din_light;
		font-size: 12px;
	}

.child a
	{
		text-decoration: none;
		color: #484848;
	}

.child a:hover
	{
		text-decoration: none;
		color: #CCC;
	}

.clear
	{
		clear:both;
	}

/*common to all pages*/
#banner
			{
			background-size: cover;
			width: 100%;
			height: 550px;
			overflow: hidden;
			}

body /* body lets the slider flow to the end*/
	{
		padding:0;
		margin: 0;
	}

h2
	{
		font-family: Helvetica;
		font-size: 21px;
		width: 70%;
		text-align:left;
		padding-top: 3%;
		color: #7B7B7B;
	}

@font-face
	{
		font-family: din_light;
		src:url(../fonts/din_light.otf);
	}

@font-face
	{
		font-family: din_bold;
		src:url(../fonts/din_bold.otf);
	}

@font-face
	{
		font-family: din_medium;
		src:url(../fonts/din_medium.otf);
	}

/*about page stuff*/
.content
	{
		padding-left: 3%;
		padding-right: 3%;
	}

	.subpagecontent
					{
					padding-left: 5%;
					padding-right: 5%;
					font-family: Georgia;
					color: #484848;
					overflow: hidden;
					}

/*This applies to the index banner but has to go here for some reason?*/
#messagehead
	{
		font-family: Helvetica;
		font-size: 36px;
		font-weight: bold;
		color: #FFFFFF;
		border-bottom-style: solid;
		border-bottom-color: #FFFFFF;
		border-bottom-width: 1px;
		padding: 5px;
		font-weight: 200;
	}

#messagecontent
{
font-family: Georgia;
font-size: 18px;
color: #FFFFFF;
padding-left: 5px;
padding-right: 5px;
margin-top: 5px;
}

#messagecontent a
{
color: #FF0;
}

#message
{
color: #FFFFFF;
padding: 10px;
width: 30%;
}

/* This is for media gallery page*/
#mediabanner
{
background-image:url(../images/media_background.png);
}
