		
				#banner
				{
				background-image:url(../images/IMG_4075.jpg);
				}
				
				#soundcloudframe
				{
				width: 100%;
				height: 500px;
				border: none;
				margin-top: 2%;
				}
				
				#audiotracks
				{
				padding: 4%;
				}
				
				#message
				{
				background-color: rgba(0,0,0,0.6);
				margin-top: 40px;
				margin-left: 40px;
				float: left;
				}